.logo {
    background-repeat: no-repeat;
}

.centralizar {
    display: flex;
    align-items: center;
    justify-content: center;

}

.glass_morfism {
    background: rgba(255, 255, 255, 0.13);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: -5px 2px 16px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -5px 2px 16px -3px rgba(0, 0, 0, 0.75);
    box-shadow: -5px 2px 16px -3px rgba(0, 0, 0, 0.75);
}

.btn_repositorio {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    font-weight: bold;
    border-bottom: 4px solid #112066;
    transition: 0.3s;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.68);
    background-color: #306cb2;
}

.btn_repositorio:hover {
    box-shadow: 0 0 rgba(0, 0, 0, 0.4);
    border-bottom-width: 2px;
    transform: translateY(2px);
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}